#viewport
{
    overflow:hidden;
    width:400px;
    height:400px;
    color:#fff;
    border:1px solid #ccc;
}

#board
{
}

.untouched
{
    background-color:gray;
    color:gray;
}

.marked
{
    background-color:blue;
}

.qed
{
    background-color:purple;
}

.boom
{
    background-color:red;
}

.clear
{
    background-color:white;
}

.square
{
    min-height:50px;
    min-width:50px;
    border-style:solid;
    border-color:black;
    border-width:2px;
}